*{
    margin: 0;
    padding: 0;
}



.titulo {
    color: #28501f;
    font-weight: bolder;
}




.descripcion{
        height: 10%;
        text-align: left;
        background: #f0e36f;
        border-radius: 1em;
        margin: 0.5em;
        border-radius: 1em;
        color:#7ebe70 ;
    
}


footer{
    background: #f0df4d;
    border-radius: 2em;
    margin: 0.5em;
}

#vistaPerfil{
    height: 90%;
    width: 75%;
    float: left;
    background:#f0e36f;
    border-radius: 1em;
    margin: 0.5em;
    border-radius: 1em;
    color:#7ebe70 ;
    border: 5px solid #f1e681;
}

#ladoSaldo{
    height: 90%;
    width: 20%;
    float: right;
    background:#f0e36f;
    border-radius: 1em;
    border: 5px solid #f1e681;
    color:#7ebe70 ;
}

#botonVerSaldo{
    color: #f0e36f;
    border-radius:160px;
    border:10px solid #666;
}

#cabecera{
    height: 11%;
}
#info{
    height: 80%;
    width: auto;
    background: #f0e36f;
    border-radius: 1em;
    margin: 0.5em;
    border-radius: 1em;
    color:#7ebe70 ;
}

#contenedor{
height: 190vh;
}