*{
    margin: 0;
    padding: 0;
}



.titulo {
    color: #28501f;
    font-weight: bolder;
}

#botonVerSaldo{
    color: #f0e36f;
    border-radius:160px;
    border:10px solid #666;
}

#info{
    height: 300px;
    width: auto;
    background: #f0e36f;
    border-radius: 1em;
    margin: 0.5em;
    border-radius: 1em;
    color:#7ebe70 ;
}


.descripcion{
        text-align: left;
        background: #f0e36f;
        border-radius: 1em;
        margin: 0.5em;
        border-radius: 1em;
        color:#7ebe70 ;
    
}


footer{
    background: #f0df4d;
    border-radius: 2em;
    margin: 0.5em;
}

